/* GLOBAL RESET */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* FIX LEAFLET MARKER ICONS IN VITE */
.leaflet-container .leaflet-marker-icon,
.leaflet-container .leaflet-marker-shadow {
  width: auto !important;
  height: auto !important;
  max-width: none !important;
  max-height: none !important;
  display: block !important;
}
